@import "variables";
@import "typography";

.header-container {
  display: flex;
  align-items: center;
  box-shadow: shadow("drop-shadow");
  width: 100%;
  height: rem(60px);

  &__content {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 rem(15px);
    width: 100%;
    max-width: size("xl");
    position: relative;

    &__logo {
      flex: 1;

      img {
        object-fit: contain;
        height: rem(50px);
      }
    }

    &__menu {
      display: flex;
      width: 100%;

      &--mobile {
        &__modal {
          margin: rem(50px);
        }
      }

      &--desktop {
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__item {
          @include menu;
          padding: 0 rem(10px);
        }

        &__donate {
          flex: 1;
          text-align: right;
        }
      }
    }
  }
}
