@import "variables";
@import "typography";

.button-container {
  padding: rem(8px) rem(22px);
  border-radius: rem(4px);
  transition: all .3s ease;
  border: rem(2px) solid;

  &--icon {
    padding: rem(5px);
  }

  &--primary {
    background-color: color("primary");
    border-color: color("primary");
    color: color("white");

    &:hover {
      color: color("primary");
      background-color: color("white");
    }
  }

  &--secondary {
    background-color: color("secondary");
    border-color: color("secondary");
    color: color("white");

    &:hover {
      color: color("secondary");
      background-color: color("white");
    }
  }

  &--success {
    background-color: color("success");
    border-color: color("success");
    color: color("white");

    &:hover {
      color: color("success");
      background-color: color("white");
    }
  }

  &--danger {
    background-color: color("danger");
    border-color: color("danger");
    color: color("white");

    &:hover {
      color: color("danger");
      background-color: color("white");
    }
  }

  &--warning {
    background-color: color("warning");
    border-color: color("warning");
    color: color("white");

    &:hover {
      color: color("warning");
      background-color: color("white");
    }
  }

  &--info {
    background-color: color("info");
    border-color: color("info");
    color: color("white");

    &:hover {
      color: color("info");
      background-color: color("white");
    }
  }

  &--borderless {
    border: none;
  }

  &--full {
    width: 100%;
  }

  &--big {
    @include headline-h2;
    padding: rem(5px);

    @include mq("sm") {
      padding: rem(10px) rem(26px);
    }

    fa-icon {
      margin-left: rem(10px);
    }
  }
}
