<h1>Header 1 HEADER 1</h1>
<h2>Header 2 HEADER 2</h2>
<h3>Header 3 HEADER 3</h3>
<h4>Header 4 HEADER 4</h4>
<p>Paragrafo Paragrafo Paragrafo PARAGRAFO PARAGRAFO PARAGRAFO</p>
<small>Small Small Small SMALL SMALL SMALL</small>
<br/>
<br/>
<commons-button text="Primary" [primary]="true"></commons-button>
<commons-button text="Secondary" [secondary]="true"></commons-button>
<commons-button text="Success" [success]="true"></commons-button>
<commons-button text="Danger" [danger]="true"></commons-button>
<commons-button text="Warning" [warning]="true"></commons-button>
<commons-button text="Info" [info]="true"></commons-button>
