@import "variables";
@import "typography";

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__title {
    padding: rem(30px) 0;
  }

  &__dropzone {
    flex: 1;
    margin: rem(30px) 0;

    @include mq("md") {
      margin: 0 rem(30px);
    }
  }
}
